[Unit]
Description=Hassio configurator
After=network.target

[Service]
Type=simple
ExecStart=reboot
Restart=on-abort

[Install]
WantedBy=multi-user.target
